@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-black-main : rgb(20, 20, 20);
    --bg-black-sec : rgb(30, 30, 30);
    --bg-black-tert : rgb(45, 45, 45);
    --text-main : white;
    --text-soft :rgb(236, 236, 236);
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar{
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-black-sec);
}

*::-webkit-scrollbar-thumb {
  background: var(--bg-black-tert);
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--bg-black-main);
  color: var(--text-main);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

input{
  background-color: inherit;
}

@layer components{


  .noScrollbar{}

  .noScrollbar::-webkit-scrollbar{
    width: 0px;
  }


  .videoToolsSection{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: var(--bg-black-sec);
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
  }
}